<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mta.tehreer.demo">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BidiAlgorithmActivity"
            android:label="Bidirectional Algorithm">
        </activity>
        <activity
            android:name=".BidiInfoActivity"
            android:label="Bidirectional Algorithm">
        </activity>
        <activity
            android:name=".TypefaceInfoActivity"
            android:label="Typeface Information">
        </activity>
        <activity
            android:name=".TypefaceGlyphsActivity"
            android:label="Typeface Glyphs">
        </activity>
        <activity
            android:name=".GlyphInfoActivity"
            android:label="Glyph Info">
        </activity>
        <activity
            android:name=".OpenTypeShapingActivity"
            android:label="OpenType Shaping">
        </activity>
        <activity
            android:name=".OpenTypeInfoActivity"
            android:label="OpenType Shaping">
        </activity>
        <activity
            android:name=".LabelWidgetActivity"
            android:label="Label Widget">
        </activity>
        <activity
            android:name=".VariableFontsActivity"
            android:label="Variable Fonts">
        </activity>
        <activity
            android:name=".OpenSourceLicensesActivity"
            android:label="Open Source Licenses">
        </activity>
    </application>
</manifest>
